* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: .9;
    text-align: center;
}

header {
}
nav {
    border-bottom: solid 1px seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

}

.logo {
    height: auto;
    width: auto;
    max-height: 50px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 40%;
    /* border: solid 1px yellow; */
}

li {
    list-style: none;
}

<------------------Main--------------->

.mission {
    background-image: url(/images/background.webp);
}