* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    /* background-color: black; */
    opacity: .9;
}

body {
    background-color: black;
}

header {
}
nav {
    border-bottom: solid 1px seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: black;

    /* opacity: 1; */

}

.logo {
    /* height: auto; */
    /* width: auto; */
    /* margin: auto; */
    max-height: 50px;
}

a {
    
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 40%;
    /* border: solid 1px yellow; */
}

li {
    list-style: none;
}

main {
    margin-top: 69px;
}

.container {
    display: flex;
    margin: auto;
    justify-content: center;
    background-image: url(/images/missionbg.webp);
    background-position: center;
    background-size: cover;
    min-height: 500px;
    max-height: 500px;
    width: 90%;
    align-items: center;
    text-align: center;
}
/* .mission { */
    /* background-image: url(/images/missionbg.webp); */
    /* background-position: center; */
    /* background-size: cover; */
    /* display: flex; */
    /* min-height: 500px; */
    /* width: 90%; */
    /* justify-content: center; */
    /* align-items: center;
    text-align: center; */
/* } */

.mission-center {
    /* top: 50%; */
    align-items: center;
    background-color: black;

}

.teas {
    /* display: flex; */
    min-height: 500px;
    width: 90%;
}

.teas h2 {
    display: inline-block;
}

.teas img {
    max-width: 300px;
    max-height: 200px;
}

footer {
    
}